*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--color-white);
    *::placeholder {
        color: var(--white-color);
    } 
    
}
main{
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 5rem;
    & section{
        & h1{
            font-size: var(--font-size-1);
            margin-bottom: var(--size-none);
            margin-top: 8rem;
        }
        & p{
            margin-top: var(--size-none);
            font-size: var(--font-size-2);
            color: var(--color-gray);
        }
        & img{
            height: var(--image-size);
        }
        & ul{
            list-style: none;
            & li{
                margin-top: 2rem;
                margin-bottom: 1.5rem;
                border: var(--size-none);
                border-bottom: var(--border-size) solid var(--color-border-li);
                border-top: var(--border-size) solid var(--color-border-li);
                height: 2.2rem;
                display: list-item;
                & input{
                    width: 99%;
                    float: right;
                    font-size: var(--font-size-small);
                    background-color: var(--black-color);
                    border: none;
                    font-size: var(--font-size-3);
                    font-weight: bold;
                    font-style: italic;
                }
                & label{
                    font-size: var(--size-none);
                    float: left;
                }
                & #lastname {
                    width: 96%;
                }
                & #firstname {
                    width: 96%;
                }
                & #dateandtime{
                    float: left;
                    width: 96%;
                }
            }
        }
        & button{
            background-color: var(--color-black);
            color: var(--color-white);
            border: var(--border-size) solid var(--color-white);
            margin-top: 2rem;
            width: 20rem;
            color:var(--color-red);
            font-size: var(--font-size-3);
            font-weight: bold;
            height: 3rem;
        }
        & #accept_button{
            transform: scale(3);
            margin-left: 0.5rem;
            margin-top: 1rem;
        }
        & #accept_text{
            margin-left: 2rem;
            margin-right: 50%;
        }
    }
}
@keyframes slide1{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide2{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes slide3{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
section::-webkit-scrollbar {
    display: none; 
}

@media(max-width: 1352px){
    main{
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        margin-bottom: 3rem;
        & section{
            & #accept_text{
                margin-right: 30%;
            }
        }
    }
}
@media(max-width: 1080px){
    main{
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 3rem;
        & section{
            & h1{
                margin-top: 4rem;
            }
            & #accept_text{
                font-size: 1rem;
                margin-right: 30%;
            }
        }
    }
}
@media(max-width: 890px){
    main{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        & section{
            & h1{
                font-size: var(--font-size-2);
                margin-top: 3rem;
            }
            & img{
                height: var(--font-size-4);
            }
            & p{
                font-size: var(--font-size-4);
            }
            & ul{
                & li{
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;
                    height: 1.5rem;
                    & input{
                        font-size: var(--font-size-4);
                    }
                    & #lastname {
                        width: 94%;
                    }
                    & #firstname {
                        width: 94%;
                    }
                    & #dateandtime{
                        float: left;
                        width: 95%;
                    }
                }
            }
            & button{
                margin-top: 2rem;
                width: 15rem;
                font-size: var(--font-size-4);
                height: 2.5rem;
            }
            & #accept_text{
                font-size: var(--font-size-5);
                width: 70%;
                margin-left: 2rem;
                margin-right: 10%;
            }
        }
}
@media screen and (min-width:0px) and (max-width: 650){
    main{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        & section{
            & h1{
                font-size: var(--font-size-2);
                margin-top: 3rem;
            }
            & img{
                height: var(--font-size-4);
            }
            & p{
                font-size: var(--font-size-5);
            }
            & ul{
                & li{
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;
                    height: 1.5rem;
                    & input{
                        font-size: var(--font-size-5);
                    }
                    & #lastname {
                        width: 94%;
                    }
                    & #firstname {
                        width: 94%;
                    }
                    & #dateandtime{
                        float: left;
                        width: 95%;
                    }
                }
            }
            & button{
                margin-top: 2rem;
                width: 100%;
                font-size: var(--font-size-4);
                height: 2.5rem;
            }
            & #accept_button{
                transform: scale(2);
                margin-left: 0.5rem;
                margin-top: 1rem;
            }
            & #accept_text{
                font-size: var(--font-size-5);
                width: 70%;
                margin-left: 2rem;
            }
        }
}
}
}