*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--white-color);
    *::placeholder {
        color: var(--white-color);
    }
}
main{
    margin: 3rem;
    margin-right: 8rem;
    margin-left: 8rem;
    border: var(--border-size) solid var(--color-red);
    padding: 3rem;
    height: 25rem;
    color: var(--color-white);
    & ::placeholder{
        font-size: 1.1rem;
        font-weight: bold;
    }
    & div{
        margin: 3rem;
        float: left;
        width: 55%;
        font-style: italic;
        font-size: var(--font-size-movie);
    }
    & article{
        font-weight: bold;
        border: var(--border-size) solid var(--color-red);
        margin-left: 75%;
        height: 100%;
        & ul{
            list-style: none;
            text-align: center;
            & .input{
                border-top: var(--border-size) solid var(--color-border-li);
                border-bottom: var(--border-size) solid var(--color-border-li);
            }
            & li{
                height: 2rem;
                margin: 1rem;
                & input{
                    padding: 0.5rem;
                    width: 100%;
                    border: var(--size-none);
                    font-style: italic;
                }
                & button{
                    font-weight: bold;
                    font-size: var(--font-size-big);
                    margin-top: 0rem;
                    height: 2rem;
                    width: 100%;
                    border: var(--border-size) solid var(--color-white);
                    color: var(--color-red);
                }
            }
        }
        & h6{
            font-size: var(--font-size-movie);
            margin: 2rem;
            margin-left: 4rem;
            margin-bottom: 6rem;
        }
        & p{
            margin-left: 4em;
        }
    }
}
@keyframes slide1{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide2{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes slide3{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
section::-webkit-scrollbar {
    display: none; 
}
@media(max-width: 1400px){
    main{
        margin-top: 7rem;
        & ::placeholder{
            font-size: var(--font-size-5);
        }
        & div{
            font-size: var(--font-size-3);
        }
        & article{
            & ul{
                & li{
                    & input{
                        width: 90%;
                    }
                }
            }
            & h6{
                text-align: center;
                font-size: var(--font-size-movie);
                margin: 2rem;
                margin-bottom: 6rem;
            }
            & p{
                text-align: center;
                width: 80%;
                font-size: 10px;
                margin-left: 10%;
            }
        }
    }
}
@media(max-width: 1000px){
    main{
        margin-top: 6rem;
        & ::placeholder{
            font-size: 0.5rem;
        }
        & div{
            font-size: var(--font-size-3);
        }
        & article{
            & ul{
                & li{
                    & input{
                        width: 90%;
                    }
                }
            }
            & h6{
                font-size: var(--font-size-3);
            }
        }
    }
}
@media(max-width: 900px){
    main{
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border: var(--border-size) solid var(--color-red);
        padding: 1.5rem;
        height: 22rem;
        color: var(--color-white);
        & ::placeholder{
            font-size: 0.7rem;
        }
        & div{
            margin: 2rem;
            float: left;
            width: 55%;
            font-size: 1.4rem;
        }
        & article{
            border: var(--border-size) solid var(--color-red);
            margin-left: 65%;
            height: 100%;
            & ul{
                & .input{
                    height: 1.5rem;
                }
                & li{
                    margin: 1rem;
                    padding: 0.2rem;
                    & input{
                        padding: 0.3rem;
                    }
                    & button{
                        margin-top: 1rem;
                        height: 2rem;
                    }
                }
            }
            & h6{
                font-size: var(--font-size-movie);
                margin: 1rem;
                text-align: center;
                margin-bottom: 4rem;
            }
            & p{text-align: center;
                font-size: 0.7rem;
            }
        }
    }
}
@media(max-width: 500px){
    main{
        margin: 0rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding: 0.5rem;
        height: 34rem;
        margin-bottom: 1rem;
        & div{
            margin: 1rem;
            float: left;
            width: 95%;
            font-size: 1rem;
        }
        & article{
            margin-left: 0%;
            margin-top: 10rem;
            height: 70%;
            & ul{
                list-style: none;
                text-align: center;
                & .input{
                    border-top: var(--border-size) solid var(--color-border-li);
                    border-bottom: var(--border-size) solid var(--color-border-li);
                }
                & li{
                    margin: 1rem;
                    & input{
                        width: 100%;
                        border: var(--size-none);
                    }
                    & button{
                        margin-top: 1rem;
                        height: 2rem;
                        width: 100%;
                    }
                }
            }
            & h6{
                margin: 1rem;text-align: center;
                margin-bottom: 4rem;
            }
            & p{
                text-align: center;
            }
        }
    }
}
@media(max-width: 350px){
    main{
        & div{
            font-size: var(--font-size-5);
        }
    }
}