*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--white-color);
    *::placeholder {
        color: var(--white-color);
    }
}
main{
    margin: 5rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 11rem;
    margin-bottom: 1rem;
    border: var(--border-size) solid var(--color-red);
    padding: 3rem;
    height: 25rem;
    color: var(--color-white);
    & ::placeholder{
        font-size: 1.1rem;
        font-weight: bold;
    }
    & div{
        margin: 3rem;
        float: left;
        width: 55%;
        font-style: italic;
        font-size: var(--font-size-movie);
    }
    & article{
        font-weight: bold;
        border: var(--border-size) solid var(--color-red);
        margin-left: 75%;
        height: 100%;
        & ul{
            list-style: none;
            text-align: center;
            & .input{
                width: 90%;
                border-top: var(--border-size) solid var(--color-border-li);
                border-bottom: var(--border-size) solid var(--color-border-li);
            }
            & li{
                height: 2rem;
                margin: 1rem;
                & input{
                    padding: 0.5rem;
                    width: 90%;
                    border: var(--size-none);
                    font-style: italic;
                }
                & button{
                    font-weight: bold;
                    font-size: var(--font-size-big);
                    margin-top: 0rem;
                    height: 2rem;
                    width: 100%;
                    border: var(--border-size) solid var(--color-white);
                    color: var(--color-red);
                }
            }
        }
        & h6{
            font-size: var(--font-size-movie);
            text-align: center;
            margin: 2rem;
            margin-bottom: 6rem;
        }
        & p{
            width: 98%;
            text-align: center;
        }
    }
}
@media(max-width: 62.5rem){
    main{
        padding: 0.5rem;
        height: 40rem;
        margin-bottom: 1rem;
        & div{
            margin: 1rem;
            float: left;
            width: 95%;
            font-size: 1rem;
        }
        & article{
            margin-left: 0%;
            margin-top: 10rem;
            height: 74%;
            & ul{
                width: 98%;
                list-style: none;
                text-align: center;
                & .input{
                    border-top: var(--border-size) solid var(--color-border-li);
                    border-bottom: var(--border-size) solid var(--color-border-li);
                }
                & li{
                    margin: 1rem;
                    & input{
                        width: 90%;
                        border: var(--size-none);
                    }
                    & button{
                        height: 2rem;
                        width: 90%;
                        border: var(--border-size) solid var(--color-gray);
                    }
                }
            }
        }
    }
}
@media(max-width: 25rem){
    main{
        & p{
            font-size: var(--font-size-5);
        }
    }
}