*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--white-color);
    *::placeholder {
        color: var(--white-color);
    }
}
header{
    width: var(--percent-hundred);
    height: 25vh;
    background-color: var(--color-bg);
    color: var(--color-garchig-main);
    & nav:nth-of-type(2){
        display: flex;
        flex-direction: row;
        & #menu{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            font-size: var(--font-size-big);
            padding-top: 3rem;
            padding-left: 2rem;
            & a{
                text-decoration: none;
                font-family: var(--font-header);
                font-weight: bold;
                color: var(--color-garchig-main);
                padding-left: 7rem;
                 
            }
        }
        & #logo{
            padding-left: 3rem;
            height: 8rem;
        }
    }
    & #address_icon{
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 2rem;
        padding-right: 5rem;
        list-style-type: none;
        & a{
            padding-right: 0.5rem;
            & img{
                height: 1rem;
            }
        }
    }
}
main{
    img[src="Images/nowplaying_poster1.png"] {
        width: 19.875rem;
        height: 31.82338rem;
        flex-shrink: 0;
    }
    iframe[title="PrineCineplex"] {
        width: 2.5rem;
        height: 1.25rem;
        flex-shrink: 0;
    }
    h2 {
        display: flex;
        width: 43.75rem;
        height: 3.12606rem;
        flex-direction: column;
        justify-content: center;
    }
    h4 {
        display: flex;
        width: 50rem;
        height: 1.87563rem;
        flex-direction: column;
        justify-content: center;
    }
    p {
        display: flex;
        width: 50rem;
        height: 12.50425rem;
        flex-direction: column;
        justify-content: center;
    }
    label[for="location_zaisan"] {
        width: 7.4375rem;
    }
}