*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--white-color);
    max-width: 99%;
    *::placeholder {
        color: var(--white-color);
    }
}
header{
    width: var(--percent-hundred);
    height: 15vh;
    background-color: var(--color-bg);
    color: var(--color-garchig-main);
    & nav:nth-of-type(2){
        display: flex;
        flex-direction: row;
        & #menu{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            font-size: var(--font-size-big);
            margin-top: 4rem;
            padding-left: 7rem;
            & a{
                text-decoration: none;
                font-family: var(--font-header);
                font-weight: bold;
                color: var(--color-garchig-main);
                text-align: center;
            }
            & #login{
                text-decoration: none;
                font-family: var(--font-header);
                font-weight: bold;
                color: var(--color-red);
                padding-left: 4rem;
            }
            & li{
                margin-right: 10%;
                display: grid;
            }

        }
        & #logo{
            padding-left: 3rem;
            height: 10rem;
        }
    }
    & #address_icon{
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 2rem;
        padding-right: 5%;
        list-style-type: none;
        float: right;
        & a{
            padding-right: 0.5rem;
            & img{
                height: 1rem;
            }
        }
    }
}
main {
    & div {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        & div {
            display: flex;
            flex-direction: column;
            & img {
                width: 25rem;
                height: auto;
                flex-shrink: 0;
                margin: 0;
            }
            & iframe {
                width: 25rem;
                height: 15rem;
                flex-shrink: 0;
            }
            & div {
                display: flex;
                flex-direction: row;
                & img {
                    width: 2rem;
                    height: auto;
                    padding: 0.5rem;    
                }
                & h5 {
                    color: var(--color-text-engiin);
                    font-size: large;
                    padding: 0 0.5rem;
                }
            }
        }
        & nav {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            & h2 {
                display: flex;
                width: 43.75rem;
                height: auto;
                flex-direction: column;
                justify-content: center;
                color: var(--color-red);
                font-weight: bold;
                font-size: 300%;
                padding-bottom: 0.5rem;
            }
            & h4 {
                display: flex;
                width: 65rem;
                height: 3rem;
                flex-direction: column;
                justify-content: center;
                color: var(--color-text-engiin);
                font-size: 150%;
                padding-bottom: 0.5rem; 
            }
            & p {
                display: flex;
                width: 65rem;
                flex-direction: column;
                justify-content: center;
                color: var(--color-text-engiin);
                font-size: 110%;
                padding-bottom: 0.5rem;
            }
            
            & div {
                display: flex;
                width: 65rem;
                flex-direction: row;
                padding-top: 0.5rem;
                padding-left: 0;
                margin-bottom: -2rem;
                & .tab {
                    display: inline-block;
                    flex-direction: column;
                    margin: 1rem;
                    padding: 1rem 5rem;
                    background:var(--color-bg);
                    color:var(--color-text-engiin);
                    cursor: pointer;
                    border-radius: 0.8rem;   
                    border: 2px solid var(--color-white);
                    font-size: 1.25rem;
                    text-align: center;
                    font-weight: bold;
                    }
                & .radio {
                    display:none;
                }
                #zaisan:checked ~ .tabs #zaisan-tab,
                #botanik:checked ~ .tabs #botanik-tab,
                #encanto:checked ~ .tabs #encanto-tab {
                    background:var(--color-red);
                    color:var(--color-white);
                    border: 2px solid var(--color-red);
                }  
                & .tab2 {
                    display: inline-block;
                    flex-direction: column;
                    margin: 0.5rem;
                    padding: 1.25rem 3rem;
                    background: var(--color-bg);
                    color:var(--color-text-engiin);
                    cursor: pointer;
                    border-radius: 0.8rem;   
                    border: 2px solid var(--color-white);
                    font-size: 1.5rem;
                    text-align: center;
                    justify-self: center;
                    align-self: center;
                    
                    }
                & .tab2_1 {
                    border: 2px solid var(--color-bg);
                    padding: 2rem;
                    color:var(--color-text-engiin);
                    cursor: pointer;
                    font-size: 2rem;
                   } 
                & .radio2 {
                    display:none;
                }
                #date1:checked ~ .tabs2 #date1-tab2,
                #date2:checked ~ .tabs2 #date2-tab2,
                #date3:checked ~ .tabs2 #date3-tab2,
                #date4:checked ~ .tabs2 #date4-tab2,
                #date5:checked ~ .tabs2 #date5-tab2,
                #date6:checked ~ .tabs2 #date6-tab2,
                #date7:checked ~ .tabs2 #date7-tab2 {
                    background:var(--color-red);
                    color:var(--color-white);
                    border: 2px solid var(--color-red);
                }   
                & .tab3 {
                    display: inline-block;
                    flex-direction: column;
                    margin-right: 2rem;
                    padding: 0.5rem;
                    background:var(--color-bg);
                    color:var(--color-white);
                    cursor: pointer;
                    border-radius: 00.8rem;   
                    border: 2px solid var(--color-white);
                    width: 40rem;
                    }
                & .radio3 {
                    display:none;
                }
                #time1:checked ~ .tabs3 #time1-tab3,
                #time2:checked ~ .tabs3 #time2-tab3,
                #time3:checked ~ .tabs3 #time3-tab3,
                #time4:checked ~ .tabs3 #time4-tab3,
                #time5:checked ~ .tabs3 #time5-tab3,
                #time6:checked ~ .tabs3 #time6-tab3,
                #time7:checked ~ .tabs3 #time7-tab3 {
                    background:var(--color-red);
                    color:var(--color-white);
                    border: 2px solid var(--color-red);
                }  
            }
            & a{
                text-decoration: none; 
            }
        }
    }
    & .hoyor {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        & .people {
            width: 55rem;
            & article{
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
                & .text {
                    display: flex;
                    flex-direction: column;
                    & h5 {
                        font-weight: bold;
                    }
                    & p {
                        color: var(--color-text-engiin);
                        padding-top: 0.5rem;
                    }
                }
                & img {
                    width: auto;
                    height: 10rem;
                    border-radius: 50%;
                    border: var(--color-red);
                    border-style: solid;

                }
            }
        }
        & .container {
            width: 60rem;
            display: flex;
            flex-direction: column;
            border: var(--color-red);
            border-style: solid;
            border-radius: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            & .reviews{
                height: 75rem;
                overflow-y: auto;
                scrollbar-width: 0.5rem;
                scrollbar-color: var(--color-red);
                &::-webkit-scrollbar-thumb {
                    background-color: var(--color-red);
                    border-radius: 5px;
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--color-bg);
                  }
            }
            & article{
                margin: 1.5rem;
                border: var(--color-red);
                border-style: solid;
                border-radius: 4rem;
                padding: 1.5rem;
                display: inline-block;
                & #neg {
                    display: flex;
                    flex-direction: row;
                    & img {
                        width: 3rem;
                    }
                    & h4 {
                        color: var(--color-white);
                        padding-left: 0.2rem;
                        padding-top: 0.5rem;
                    }
                    & p {
                        color: var(--color-white);
                        padding-left: 0.2rem;
                        padding-top: 0.5rem;
                    }
                }
                & #hoyor {
                    display: flex;
                    flex-direction: column;
                }

                & p {
                    color: var(--color-white);
                }
                & .extra {
                    display: none;
                }

                & input[type="checkbox"] {
                    height: 2em;
                    display: block;
                    appearance: none;
                }
                & label {
                    position: relative;
                    padding: 1em;
                    cursor: pointer;
                    color: var(--color-white);
                }
                & label::before {
                    content: "Цааш унших";
                    color: var(--color-red);
                }

                & input[type="checkbox"]:checked ~ label::before {
                    content: "Хаах";
                }

                & .dots:has(~ input[type="checkbox"]:checked) {
                    display: none;
                }
                & .extra:has(~ input[type="checkbox"]:checked) {
                    display: inline;
                }
                & .original {
                    display: flex;
                    flex-direction: column;
                }
            }
            & .comment {
                display: flex;
                flex-direction: column;
                & .deer {
                    display: flex;
                    flex-direction: row;
                }
                & h3 {
                    color: var(--color-white);
                    font-size: large;
                    margin-bottom: 0.5rem;
                    margin-right: 0.5rem;

                }
                & p {
                    color: var(--color-text-engiin);
                    margin-right: 0.5rem;
                }
                & label {
                    color: var(--color-text-engiin);
                }
                & textarea {
                    color: var(--color-text-engiin);
                    padding: 0.5rem;
                }
                & button {
                    color: var(--color-text-engiin);
                    background-color: var(--color-red);
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    margin-left: auto;
                    margin-top: 0.5rem;
                    
                }
            }
        }
    }
}
footer{
    display: flex;
    padding-left: 5rem;
    & #address_info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 5rem;
        & li{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-footer-text);
            & a{
                text-decoration: none;
                text-align: center;
                justify-content: center;
                color: var(--color-red);
            }
            & img{
                padding: 1rem;
                height: 3rem;
                width: 15%;
            }
        }
    }
    & #map{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        & .location{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 1rem 1rem;
            & p{
                padding: 0.5rem;
                font-family: var(--font-text-engiin);
                font-size: var(--font-size-big);
                color: var(--color-footer-text);
            }
        }
        & img{
            height: 7rem;
            width: auto;
        }
    }
}
@media(max-width: 68rem){
    header{
        height: 14vh;
        & nav:nth-of-type(2){
            & #menu{
                font-size: var(--font-size-small);
                padding-left: 3rem;
            }
        }
    }
    footer{
        & #address_info{
            width: 40%;
            padding-right: 0rem;
            & li{
                & img{
                    height: 2.2rem;
                }
            }
        }
        & #map{
            & div{
                width: 100%;
            }
        }
    }
}
@media(max-width: 48rem){
    header{
        height: 10vh;
        max-width: 48rem;
        & nav:nth-of-type(2){
            & #menu{
                margin-top: 2rem;
                margin-left: 40%;
                flex-direction: column;
                padding: 1rem;
                font-size: var(--font-size-small);
                & a{
                    text-align: left;
                    width: 10rem;
                }
                & #login{
                    padding-left: 0rem;
                }
            }
        }
        & #address_icon{
            padding-top: 1rem;
            padding-right: 1%;
        }
    }
    footer{
        padding-left: 2rem;
        width: auto;
        justify-content: space-between;
        & #address_info{
            font-size: var(--font-size-small);
            & li{
                & img{
                    padding: 0.5rem;
                    height: 1.5rem;
                    width: auto;
                }
            }
        }
        & #map{
            flex-direction: column;
            padding-right: 4rem;
            & .location{
                margin: 0.2rem;
                & p{
                    padding: 0.2rem;
                    font-size: var(--font-size-small);
                   
                }
            }
            & img{
                height: 3.5rem;
            }
        }
    }
    
}
@media(max-width: 35rem){
    header{
        height: 10vh;
        max-width: 48rem;
        & nav:nth-of-type(2){
            & #menu{
                margin-left: 20%;
            }
        }
    } 
}
@media(max-width: 25rem){
    header{
        height: 5vh;
        max-width: 25rem;
        & nav:nth-of-type(2){
            justify-content: center;
            & #menu{
                margin-left: 30%;
                flex-direction: column;
                padding: 0.5rem;
                font-size: 0.65rem;
            }
            & #logo{
                height: 5rem;
                width: auto;
            }
        }
        & #address_icon{
            padding-top: 0.5rem;
            padding-right: 1.5rem;
            & a{
                padding-right: 0.2rem;
                & img{
                    height: 0.5rem;
                }
            }
        }
    }
    footer{
        padding: 0;
        justify-content: space-evenly;
        & #address_info{
            padding-left: 4rem;
            font-size: 0.7rem;
            & li{
                & img{
                    padding: 0.5rem;
                    height: 1rem;
                    width: auto;
                }
            }
        }
        & #map{
            flex-direction: column;
            padding-right: 0rem;
            & .location{
                & p{
                    font-size: 0.7rem;
                   
                }
            }
        }
    }
    
}