*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
    color: var(--color-white);
    *::placeholder {
        color: var(--white-color);
    } 
    
}
header{
    position: fixed;
    z-index: 10;
    width: var(--percent-hundred);
    top: 0px;
    background-color: var(--color-bg);
    color: var(--color-garchig-main);
    & nav:nth-of-type(2){
        display: flex;
        flex-direction: row;
        & #menu{
            display: flex;
            flex-direction: row;
            margin-top: 4rem;
            padding-left: 9rem;
            list-style-type: none;
            font-size: var(--font-size-big);
            & a{
                text-decoration: none;
                text-align: center;
                color: var(--color-garchig-main);
                font-family: var(--font-header);
                font-weight: bold;
            }
            & #login{
                padding-left: 4rem;
                text-decoration: none;
                font-family: var(--font-header);
                font-weight: bold;
                color: var(--color-red);
            }
            & li{
                display: grid;
                margin-right: 10%;
            }

        }
        & #logo{
            height: 10rem;
            padding-left: 3rem;
        }
    }
    & #address_icon{
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 2rem;
        padding-right: 5%;
        list-style-type: none;
        float: right;
        & a{
            padding-right: 0.5rem;
            & img{
                height: 1rem;
            }
        }
    }
}
footer{
    display: flex;
    width: 80%;
    padding-left: 10%;
    & #address_info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 5rem;
        & li{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-footer-text);
            & a{
                justify-content: center;
                text-decoration: none;
                text-align: center;
                color: var(--color-red);
            }
            & img{
                padding: 1rem;
                height: 3rem;
                width: 15%;
            }
        }
    }
    & #map{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        & .location{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 1rem 1rem;
            & p{
                padding: 0.5rem;
                color: var(--color-footer-text);
                font-family: var(--font-text-engiin);
                font-size: var(--font-size-big);
            }
        }
        & img{
            height: 7rem;
            width: auto;
        }
    }
}
@media(max-width: 68rem){
    header{
        & nav:nth-of-type(2){
            & #menu{
                margin-left: 8rem;
                padding-left: 3rem;
                font-size: var(--font-size-small);
            }
        }
    }
    footer{
        & #address_info{
            width: 40%;
            padding-right: 0rem;
            & li{
                & img{
                    height: 2.2rem;
                }
            }
        }
        & #map{
            & div{
                width: 100%;
            }
        }
    }
}
@media(max-width: 48rem){
    header{
        max-width: 48rem;
        & nav:nth-of-type(2){
            & #menu{
                flex-direction: column;
                margin-top: 2rem;
                margin-left: 40%;
                padding: 1rem;
                font-size: var(--font-size-small);
                & a{
                    width: 10rem;
                    text-align: left;
                }
                & #login{
                    padding-left: 0rem;
                }
            }
        }
        & #address_icon{
            padding-top: 1rem;
            padding-right: 1%;
        }
    }
    footer{
        justify-content: space-between;
        & #address_info{
            font-size: var(--font-size-small);
            & li{
                & img{
                    height: 1.5rem;
                    width: auto;
                    padding: 0.5rem;
                }
            }
        }
        & #map{
            flex-direction: column;
            padding-right: 4rem;
            & .location{
                margin: 0.2rem;
                & p{
                    padding: 0.2rem;
                    font-size: var(--font-size-small);
                }
            }
            & img{
                height: 3.5rem;
            }
        }
    }
    
}
@media(max-width: 35rem){
    header{
        max-width: 48rem;
        & nav:nth-of-type(2){
            & #menu{
                margin-left: 20%;
            }
        }
    } 
}
@media(max-width: 25rem){
    header{
        max-width: 25rem;
        & nav:nth-of-type(2){
            justify-content: center;
            & #menu{
                flex-direction: column;
                padding: 0.5rem;
                margin-left: 30%;
                font-size: 0.65rem;
            }
            & #logo{
                height: 5rem;
                width: auto;
            }
        }
        & #address_icon{
            padding-top: 0.5rem;
            padding-right: 1.5rem;
            & a{
                padding-right: 0.2rem;
                & img{
                    height: 0.5rem;
                }
            }
        }
    }
    footer{
        justify-content: space-evenly;
        padding: 0;
        & #address_info{
            padding-left: 4rem;
            font-size: 0.7rem;
            & li{
                & img{
                    height: 1rem;
                    width: auto;
                    padding: 0.5rem;
                }
            }
        }
        & #map{
            flex-direction: column;
            padding-right: 0rem;
            & .location{
                & p{
                    font-size: 0.7rem;
                }
            }
        }
    }  
}
@media(max-width: 900px){
    header{
        max-width: 48rem;
        & nav:nth-of-type(2){
            & #menu{
                flex-direction: column;
                margin-top: 2rem;
                margin-left: 30%;
                padding: 1rem;
                font-size: var(--font-size-small);
                & a{
                    width: 10rem;
                    text-align: left;
                }
                & #login{
                    padding-left: 0rem;
                }
            }
        }
        & #address_icon{
            padding-top: 1rem;
            padding-right: 1%;
        }
    }
    footer{
        justify-content: space-between;
        & #address_info{
            font-size: var(--font-size-small);
            & li{
                & img{
                    height: 1.5rem;
                    width: auto;
                    padding: 0.5rem;
                }
            }
        }
        & #map{
            flex-direction: column;
            padding-right: 4rem;
            & .location{
                margin: 0.2rem;
                & p{
                    padding: 0.2rem;
                    font-size: var(--font-size-small);
                }
            }
            & img{
                height: 3.5rem;
            }
        }
    }
    
}