
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-text-engiin);
    background-color: var(--color-bg);
}
main{
    & .container_poster{
        display: grid;
        & #bigposter-container{
            place-self: center;
            width: 76rem;
            height: 38rem;
            padding-right: 10rem;
            position: relative;
            overflow: hidden;
            & #bigposter1{
                position: absolute;
                top: 10%;
                left: 12%;
                width: auto;
                height: var(--percent-hundred);
                opacity: 0;
                animation: slide1 10s infinite;
            }
            & #bigposter2{
                position: absolute;
                top: 10%;
                left: 12%;
                width: auto;
                height: var(--percent-hundred);
                opacity: 0;
                animation: slide2 10s infinite;
            }
            & #bigposter3{
                position: absolute;
                top: 10%;
                left: 12%;
                width: auto;
                height: var(--percent-hundred);
                opacity: 0;
                animation: slide3 10s infinite;
            }
        }
        & .button{
            place-self: center;
            & button{
                background-color: var(--color-bg);
                color: var(--color-text-engiin);
                border-color: var(--color-border-line);
                padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                text-align: center;
                font-size: var(--font-size-small);
                font-family: var(--font-text-engiin);
                & img {
                    width: auto; 
                    height: 1rem;   
                }
            }
        }
    }
    & section{
        padding: 2rem;
        max-width: 90%;
        overflow-x: auto;
        
        & h2{
            padding-left: 6rem;
            color: var(--color-garchig-main);
            font-family: var(--font-abhaya);
        }
        & ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            min-width: 90%;
            list-style-type: none;
            & a{
                display: grid;
                gap: 2rem;
                padding: 2rem 5rem 2rem 5rem;
                text-decoration: none;
                text-align: center;
                font-family: var(--font-londrina);
                font-size: var(--font-size-movie);
                color: var(--color-text-engiin);
                & img{
                    height: 23rem;
                    width: auto;
                }

            }
        }
    }
}
@keyframes slide1{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide2{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes slide3{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
section::-webkit-scrollbar {
    display: none; 
}
@media(max-width: 48rem){
    main{
        & .container_poster{
            width: auto;
            padding: 1rem;
            & #bigposter-container{
                width: 80%;
                position: relative;
                & #bigposter1,
                & #bigposter2,
                & #bigposter3{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    height: auto;
                    width: var(--percent-hundred);
                }
            }
            & .button{
                place-self: center;
                position: absolute;
                top: 90%;
                & button{
                    padding: 0.5rem 1rem;
                    font-size: var(--font-size-reting);
                    
                }
            }
        }
        & section{
            padding: rem;
            width: auto;
            & h2{
                padding: 2rem 0rem 2rem 1.5rem;
            }
            & ul{
                & a{
                    padding: 1rem;
                    font-size: var(--font-size-big);
                    & img{
                        height: 21.5rem;
                        width: auto;
                    }
    
                }
            }
        }
    }
}

@media(max-width: 25rem){
    main{
        & .container_poster{
            & .button{
                place-self: center;
                position: absolute;
                top: 63%;
                & button{
                    padding: 0.2rem 0.5rem;
                    font-size: 0.5rem;
                    & img{
                        height: 0.6rem;
                        width: auto;
                    }
                    
                }
            }
        }
        & section{
            padding: 0;
            width: auto;
            & h2{
                padding: 1rem 0rem 2rem 0.5rem;
                font-size: var(--font-size-small);
            }
            & ul{
                & a{
                    padding: 1rem;
                    font-size: var(--font-size-reting);
                    & img{
                        height: 10rem;
                        width: auto;
                    }
                }
            }
        }
    }
}



  