
*{
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: var(--font-text-engiin);
    list-style: none;
}
main{
    margin-top: 12rem;
    & .container_poster{
        display: grid;
        & #bigposter-container{
            position: relative;
            overflow: hidden;
            place-self: center;
            width: 60%;
            height: 30rem;
            & #bigposter1{
                position: absolute;
                width: 100%;
                height: auto;
                opacity: 0;
                animation: slide1 10s infinite;
            }
            & #bigposter2{
                position: absolute;
                width: 100%;
                height: auto;
                opacity: 0;
                animation: slide2 10s infinite;
            }
            & #bigposter3{
                position: absolute;
                width: 100%;
                height: auto;
                opacity: 0;
                animation: slide3 10s infinite;
            }
        }
        & .button{
            margin-top: 30%;
            position: absolute;
            place-self: center;
            text-decoration: none;
            & button{
                background-color: var(--color-bg);
                border-color: var(--color-border-line);
                padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                text-align: center;
                color: var(--color-text-engiin);
                font-size: var(--font-size-big);
                font-family: var(--font-text-engiin);
                & img {
                    width: auto; 
                    height: 1.5rem;   
                }
                & a{
                    text-decoration: none;
                }
            }
            & #buy_button{
                background-color: var(--color-bg);
                border-color: var(--color-border-line);
                padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                text-align: center;
                color: var(--color-red);
                font-size: var(--font-size-big);
                font-weight: bold;
                & img {
                    width: auto; 
                    height: 1.5rem;   
                }
                & a{
                    color: var(--color-red);
                }
            }
        }
    }
    & section{
        padding: 2rem;
        max-width: 90%;
        overflow-x: auto;
        & h2{
            padding-left: 6rem;
            color: var(--color-garchig-main);
            font-family: var(--font-garchig);
        }
        & ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            min-width: 90%;
            list-style-type: none;
            & a{
                display: grid;
                gap: 2rem;
                padding: 2rem 5rem 2rem 5rem;
                text-decoration: none;
                text-align: center;
                color: var(--color-text-engiin);
                font-family: var(--font-londrina);
                font-size: var(--font-size-movie);
                & img{
                    height: 23rem;
                    width: auto;
                }

            }
        }
    }
}
@keyframes slide1{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide2{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes slide3{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}
section::-webkit-scrollbar {
    display: none; 
}
@media (max-width: 71.875rem) {
    main {
        .container_poster {
            .button {
                margin-top: 20%;
            }
        }
    }
}
@media(max-width: 56.25rem) {
    main{
        .container_poster{
            & #bigposter-container{
                height: 20rem;
            }
            & .button{
                margin-top: 30%;
                & button{
                    background-color: var(--color-bg);
                    border-color: var(--color-border-line);
                    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                    text-align: center;
                    color: var(--color-text-engiin);
                    font-size: var(--font-size-small);
                    font-family: var(--font-text-engiin);
                    & img {
                        width: auto; 
                        height: 0.8rem;   
                    }
                }
                & #buy_button{
                    background-color: var(--color-bg);
                    border-color: var(--color-border-line);
                    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
                    text-align: center;
                    color: var(--color-red);
                    font-size: var(--font-size-small);
                    font-weight: bold;
                    & img {
                        width: auto; 
                        height: 0.8rem;   
                    }
                }
            }
        }
    }
}

@media(max-width: 48rem){
    main{
        & .container_poster{
            padding: 1rem;
            & #bigposter-container{
                position: relative;
                width: 80%;
                & #bigposter1,
                & #bigposter2,
                & #bigposter3{
                    position: absolute;
                    height: auto;
                    width: var(--percent-hundred);
                }
            }
            & .button{
                margin-top: 40%;
            }
        }
        & section{
            width: auto;
            & h2{
                padding: 2rem 0rem 2rem 1.5rem;
            }
            & ul{
                & a{
                    padding: 1rem;
                    font-size: var(--font-size-big);
                    & img{
                        height: 21.5rem;
                        width: auto;
                    }
    
                }
            }
        }
    }
}
@media(max-width: 37.5rem){
    @media (max-width: 71.875rem) {
        main {
            .container_poster {
                & #bigposter-container{
                    height: 15rem;
                }
                .button {
                    margin-top: 35%;
                }
            }
        }
    }
}
@media(max-width: 31.25rem){
    main{
        & .container_poster{
            & .button{
                margin-top: 30%;
            }
        }
        & section{
            width: auto;
            padding: 0;
            & h2{
                padding: 1rem 0rem 2rem 0.5rem;
                font-size: var(--font-size-small);
            }
            & ul{
                & a{
                    padding: 1rem;
                    font-size: var(--font-size-reting);
                    & img{
                        height: 10rem;
                        width: auto;
                    }
                }
            }
        }
    }
}
@media(max-width: 25rem){
    main{
        & .container_poster{
            & .button{
                margin-top: 30%;
            }
        }
    }
}


:root {
    --color-bg: #ffffff; /* Light mode background */
    --color-text: #000000; /* Light mode text */
    --color-bg-dark: #000000; /* Dark mode background */
    --color-text-dark: #ffffff; /* Dark mode text */
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--color-bg-dark);
        --color-text: var(--color-text-dark);
    }
}

@media (prefers-color-scheme: dark) {
    .special-element {
        background-color: var(--color-bg-dark)
        /* other dark mode specific styles */
    }
}

#theme-switcher {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

  