*{
    max-width: 99%;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--white-color);
    font-family: var(--font-text-engiin);
    *::placeholder {
        color: var(--white-color);
    }
}
main {margin-top: 11rem;
    & div {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        & a img {
            flex-shrink: 0;
            width: 20rem;
            height: auto;
            margin: 1rem;
        }
        & div {
            display: flex;
            flex-direction: column;
            & iframe {
                flex-shrink: 0;
                width: 25rem;
                height: 15rem;
            }
            
        }
        & nav {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            & h2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43.75rem;
                height: auto;
                padding-bottom: 0.5rem;
                color: var(--color-red);
                font-weight: bold;
                font-size: 300%;
            }
            & h4 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 65rem;
                height: 3rem;
                padding-bottom: 0.5rem; 
                color: var(--color-text-engiin);
                font-size: 150%;
            }
            & p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 65rem;
                padding-bottom: 0.5rem;
                color: var(--color-text-engiin);
                font-size: 110%;
            }
            
            & div {
                display: flex;
                flex-direction: row;
                width: 65rem;
                margin-bottom: -2rem;
                padding-top: 0.5rem;
                padding-left: 0;
                & .tab {
                    display: inline-block;
                    flex-direction: column;
                    margin: 1rem;
                    padding: 1rem 5rem;
                    background:var(--color-bg);
                    cursor: pointer;
                    border-radius: 0.8rem;   
                    border: 2px solid var(--color-white);
                    text-align: center;
                    color:var(--color-text-engiin);
                    font-weight: bold;
                    font-size: 1.25rem;
                    }
                & .radio {
                    display:none;
                }
                #zaisan:checked ~ .tabs #zaisan-tab,
                #botanik:checked ~ .tabs #botanik-tab,
                #encanto:checked ~ .tabs #encanto-tab {
                    background:var(--color-red);
                    border: 2px solid var(--color-red);
                    color:var(--color-white);
                }  
                & .tab2 {
                    display: inline-block;
                    flex-direction: column;
                    justify-self: center;
                    margin: 0.5rem;
                    padding: 1.25rem 3rem;
                    background: var(--color-bg);
                    cursor: pointer;
                    border-radius: 0.8rem;   
                    border: 2px solid var(--color-white);
                    text-align: center;
                    color:var(--color-text-engiin);
                    align-self: center;
                    font-size: 1.5rem;
                    }
                & .tab2_1 {
                    padding: 2rem;
                    border: 2px solid var(--color-bg);
                    cursor: pointer;
                    color:var(--color-text-engiin);
                    font-size: 2rem;
                   } 
                & .radio2 {
                    display:none;
                }
                #date1:checked ~ .tabs2 #date1-tab2,
                #date2:checked ~ .tabs2 #date2-tab2,
                #date3:checked ~ .tabs2 #date3-tab2,
                #date4:checked ~ .tabs2 #date4-tab2,
                #date5:checked ~ .tabs2 #date5-tab2,
                #date6:checked ~ .tabs2 #date6-tab2,
                #date7:checked ~ .tabs2 #date7-tab2 {
                    background:var(--color-red);
                    border: 2px solid var(--color-red);
                    color:var(--color-white);
                }   
                & .tab3 {
                    display: inline-block;
                    flex-direction: column;
                    width: 40rem;
                    margin-right: 2rem;
                    padding: 0.5rem;
                    border-radius: 00.8rem;   
                    border: 2px solid var(--color-white);
                    cursor: pointer;
                    background:var(--color-bg);
                    color:var(--color-white);
                    }
                & .radio3 {
                    display:none;
                }
                #time1:checked ~ .tabs3 #time1-tab3,
                #time2:checked ~ .tabs3 #time2-tab3,
                #time3:checked ~ .tabs3 #time3-tab3,
                #time4:checked ~ .tabs3 #time4-tab3,
                #time5:checked ~ .tabs3 #time5-tab3,
                #time6:checked ~ .tabs3 #time6-tab3,
                #time7:checked ~ .tabs3 #time7-tab3 {
                    background:var(--color-red);
                    border: 2px solid var(--color-red);
                    color:var(--color-white);
                }  
            }
            & a{
                text-decoration: none; 
            }
        }
    }
    & .hoyor {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        & .people {
            width: 55rem;
            & article{
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
                & .text {
                    display: flex;
                    flex-direction: column;
                    & h5 {
                        font-weight: bold;
                    }
                    & p {
                        padding-top: 0.5rem;
                        color: var(--color-text-engiin);
                    }
                }
                & img {
                    width: auto;
                    height: 10rem;
                    border-radius: 50%;
                    border: var(--color-red);
                    border-style: solid;

                }
            }
        }
        & .container {
            display: flex;
            flex-direction: column;
            width: 60rem;
            margin-left: 2rem;
            margin-right: 2rem;
            border: var(--color-red);
            border-style: solid;
            border-radius: 1rem;
            & .reviews{
                height: 75rem;
                overflow-y: auto;
                scrollbar-width: 0.5rem;
                scrollbar-color: var(--color-red);
                &::-webkit-scrollbar-thumb {
                    background-color: var(--color-red);
                    border-radius: 5px;
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--color-bg);
                  }
            }
            & article{
                display: inline-block;
                margin: 1.5rem;
                padding: 1.5rem;
                border: var(--color-red);
                border-style: solid;
                border-radius: 4rem;
                & #neg {
                    display: flex;
                    flex-direction: row;
                    & img {
                        width: 3rem;
                    }
                    & h4 {
                        padding-left: 0.2rem;
                        padding-top: 0.5rem;
                        color: var(--color-white);
                    }
                    & p {
                        padding-left: 0.2rem;
                        padding-top: 0.5rem;
                        color: var(--color-white);
                    }
                }
                & #hoyor {
                    display: flex;
                    flex-direction: column;
                }

                & p {
                    color: var(--color-white);
                }
                & .extra {
                    display: none;
                }

                & input[type="checkbox"] {
                    display: block;
                    height: 2em;
                    appearance: none;
                }
                & label {
                    position: relative;
                    padding: 1em;
                    cursor: pointer;
                    color: var(--color-white);
                }
                & label::before {
                    content: "Цааш унших";
                    color: var(--color-red);
                }

                & input[type="checkbox"]:checked ~ label::before {
                    content: "Хаах";
                }

                & .dots:has(~ input[type="checkbox"]:checked) {
                    display: none;
                }
                & .extra:has(~ input[type="checkbox"]:checked) {
                    display: inline;
                }
                & .original {
                    display: flex;
                    flex-direction: column;
                }
            }
            & .comment {
                display: flex;
                flex-direction: column;
                & .deer {
                    display: flex;
                    flex-direction: row;
                }
                & h3 {
                    margin-bottom: 0.5rem;
                    margin-right: 0.5rem;
                    color: var(--color-white);
                    font-size: large;
                }
                & p {
                    margin-right: 0.5rem;
                    color: var(--color-text-engiin);
                }
                & label {
                    color: var(--color-text-engiin);
                }
                & textarea {
                    padding: 0.5rem;
                    color: var(--color-text-engiin);
                }
                & button {
                    margin-left: auto;
                    margin-top: 0.5rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--color-red);
                    cursor: pointer;
                    color: var(--color-text-engiin);
                    font-size: 1rem;
                }
            }
        }
    }
}