*{
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text-engiin);
    font-family: var(--font-text-engiin);
}
body{
    & .select_chair_number{
        background-color: var(--color-gray);
    }
    display: grid;
    grid-template-areas: 
        "header sidebar"
        "screen sidebar"
        "content sidebar";
    & #header{
        display: flex;
        flex-direction: row;
        grid-area: header;
        & img{
           height: 10rem;
           width: auto; 
           padding: 0rem;
        }
        & h1{
            align-self: center;
            padding-left: 18.5rem;
        }
        & #info_ticketing{
            display: flex;
            flex-direction: row-reverse;
            margin-left: 14rem;
            & a{
                padding: 2rem;
                text-decoration: none;
                color: var(--color-red);
                font-weight: bold;
            }
            & #time{
                display: flex;
                flex-direction: column;
                padding-top: 2rem;
                text-align: center;
            }

        }
    }
    .container {
        display: flex;
        flex-direction: column;
        grid-area: screen;
        align-items: center;
        .screen {
            height: 1rem;
            width: 50%;
            margin: 1rem 0;
            background-color: var(--color-white);
            transform: rotateX(-45deg);
            box-shadow: 0px 3px 10px var(--color-bright-gray);
        }
        & .suudl {
            display: flex; justify-content: center; gap: 2rem;
            & input{
                display: none;
            }
            & .bagana{
                display: flex;
            }
        }

    }
    & #food_and_drinks{
        display: flex;
        flex-direction: row;
        grid-area: content;
        width: 90%;
        overflow: auto;
        & article{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            & p{
                padding: 0.5rem;
                color: var(--color-bright-gray);
            }
            & button{
                padding: 0.25em 0.5em;
                margin: 0.5rem;
                border-radius: 100%;
                border: 0.5px solid var(--color-red);
                color: var(--color-red);
            }
            & img{
                width: auto;
                height: 8.5rem;
                padding: 1rem 2.5rem;
            }
        }
    }
    & aside{
        grid-area: sidebar;
        padding: 2rem;
        background-color: var(--color-gray);
        & button{
            padding: 0.5rem 1rem;
            background-color: var(--color-gray);
            border: 1px solid var(--color-white);
        }
        & h4{
            background-color: var(--color-gray);
            color: var(--color-bright-gray);
            text-align: center;
        }
        .line {
            width: 100%; 
            height: 0.2rem; 
            margin: 1rem 0;
            background-color: var(--color-bright-gray); 
        }
        & .movie_details{
            display: flex;
            align-items: center;
            background-color: var(--color-gray);
            & img {
                max-width: 10rem;
                height: auto;
                margin: 3rem 0;
            }
            & #movie_info{
                display: flex;
                flex-direction: column;
                & label {
                    padding: 0.62rem 2rem;
                    background-color: var(--color-gray);
                    color: var(--color-text-engiin);
                    font-size: 1rem;
                }
                & label[for="movie_name"] {
                    padding-left: 25%;
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
        }
        & label[for="chair"]{
            background-color: var(--color-gray);
            color: var(--color-bright-gray);
            font-weight: bold;
        }
        & li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color-gray);
            color: var(--color-gray);
        }
        & #food_drinks_cost{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color-gray);
            & p {
                background-color: var(--color-gray);
                color: var(--color-text-engiin);
                font-weight: bold;
            }
            & .name_of_food{
                color: var(--color-bright-gray);
                font-weight: bold;
            }
        }
        & #sum_of_all{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color-gray);
            & #sum {
                background-color: var(--color-gray);
                color: var(--color-bright-gray);
                font-weight: bold;
            }
            & #sum_cost{
                background-color: var(--color-gray);
                color: var(--color-text-engiin);
                font-weight: bold;

            }
            
        }
        & #payment_section{
            background-color: var(--color-gray);
            & h3{
                background-color: var(--color-gray);
                padding: 1rem 0 2rem 6rem;
            }
            & label{
                background-color: var(--color-gray);
                padding: 1rem;
                font-weight: bold;
            }
            
            & input{
                width: 65%;
                padding: 0.4rem 0.5rem;
                border: 1px solid var(--color-border-line);
                color: var(--color-bright-gray);
                border-radius: 5px;
                background-color: var(--color-gray);
                font-weight: bold;
            }
            & button{
                margin-left: 10rem;
                margin-top: 2rem;
                padding: 1rem 2rem;
                background-color: var(--color-red);
                border-radius: 5px;
                font-size: 1rem;
            }
        }
    }
}
#food_and_drinks::-webkit-scrollbar {
    display: none; 
}

